@import './global.css';


nav,
ul {
  align-items: center;
  padding-left: 1rem;
  height: 100%;
}

li {
  list-style: none;
  margin-left: 1rem;
}

.pageListDiv {
  margin: auto;
}

.container table {
  width: 80%;
  margin: auto;
  border-spacing: 0;
  text-align: left;
  border-collapse: collapse;
}

.container th {
  padding-left: .5rem;
  background-color: var(--mediumgray);
  border-right: 0;
  border-top: 0;
  border: 1px solid var(--gray);
}

.container th:nth-child(2) {
  width: 15%;
}

.container tr {
  margin-bottom: .5rem;
  line-height: 3rem;
}

.container td {
  padding-left: .5rem;
  border: 1px solid var(--gray);
  background-color: var(--lightgray);
}

.container tr td:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container tr td:nth-child(2) a:nth-child(1) {
  margin-right: 1rem;
}

.actionBtn {
  height: fit-content;
}

.mainLink,
.logOutBtn {
  text-decoration: none;
  padding: .35rem .55rem;
  font-size: 1.2rem;
  color: var(--blue);
  border: 0;
  border-radius: 25px;
  background-color: var(--lightgray);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  transition-duration: .3s;
  cursor: pointer;
}

.mainLink:hover,
.logOutBtn:hover {
  color: var(--lightgray);
  background-color: var(--blue);
}

.active {
  color: var(--red);
}

.container {
  width: 80%;
  min-height: 25rem;
  margin: 2rem auto;
}


.container main {
  width: 80%;
  min-height: 20rem;
  margin: auto;
  padding: 2rem 1rem;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.container > h3 {
  width: 80%;
  margin: 0 auto 1rem;
}

.mainHeader,
.mainFooter {
  width: 100%;
  background-color: var(--gray);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  height: 3.3rem;
}

.mainFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  width: 100%;
  height: 2rem;
  color: var(--blue);
}

.flex {
  display: flex;
}

.logOutBtn {
  margin: .4rem 2rem;
}

.editBlockHead {
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 1rem;
}

.editFormDiv {
  width: 80%;
  margin: auto;
  border: 1px solid var(--gray);
  background-color: var(--lightgray);
}

.editFormDiv div:nth-of-type(1) {
  align-items: center;
  height: 2.8625rem;
  margin-bottom: 1rem;
  background-color: var(--mediumgray);
  border-bottom: 1px solid var(--gray);
}

.editFormDiv textarea {
  margin: 1rem 5%;
  width: 90%;
}

.pageListDiv > div {
  width: 80%;
  margin: 1rem auto;
}

#loginForm {
  width: 25rem;
  margin: 8rem auto;
  padding: 1rem;
  text-align: center;
  border: 2px inset var(--blue);
  background-color: var(--white);
}